<div class="pricing-header px-3 py-3 pt-md-5 pb-md-4 mx-auto text-center">
    <h2 class="display-4">{{# lang }}page:title,event{{/ lang }}</h2>
    <p class="lead">Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris a mauris quam. In quis ultricies sapien, non malesuada tellus. Nulla ut faucibus arcu, quis tristique leo. Phasellus vel semper massa.</p>
</div>
<div class="album py-5 bg-light">
    <div class="container">
        <div class="row">
            <div class="col-md-4">
                {{# events }}
                <div class="card mb-4 shadow-sm">
                    <div class="card-body">
                        <h5><strong>{{ name }}</strong></h5>
                        <hr>
                        <p class="card-text">{{ description }}</p>
                        <div class="d-flex justify-content-between align-items-center">
                            <div class="btn-group">
                                <a href="javascript:Dashboard.open('/event/view/{{ eventid }}');" class="btn btn-sm btn-outline-secondary">{{# lang }}event:view,event{{/ lang }}</a>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        {{/ events }}
    </div>
    {{^ events }}
    <p class="text-center">{{# lang }}event:notfound,event{{/ lang }}</p>
    {{/ events }}
</div>