<table class="table">
    <tbody>
        {{# matches }}
        <tr>
            <td>{{ ateamname }}</td>
            <td>{{ avictory }}</td>
            <td>{{ bvictory }}</td>
            <td>{{ bteamname }}</td>
        </tr>
        {{/ matches }}
    </tbody>
</table>