<table class="table">
    <thead class="thead-dark">
        <tr>
            <th scope="col">{{# lang }}team,challenge{{/ lang }}</th>
            <th scope="col">{{# lang }}victories,challenge{{/ lang }}</th>
        </tr>
    </thead>
    <tbody>
        {{# teams }}
        <tr>
            <td>{{ teamname }}</td>
            <td>{{ victories }}</td>
        </tr>
        {{/ teams }}
    </tbody>
</table>